/****************************************
  ==== RESETS
****************************************/

html,body,div,canvas { margin: 0; padding: 0; height: 100%; width: 100%; }
::-moz-selection { color: #333; text-shadow: none; }
::selection {  color: #333; text-shadow: none; }
.clear:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
.clear { display: inline-table; clear: both; }
/* Hides from IE-mac \*/ * html .clear { height: 1%; } .clear { display: block; } /* End hide from IE-mac */
div#loadingBg {
  background-image: url("progresslogo.png");
  position: absolute;
  width: 100%;
  height: 100%;
  top:0px;
  background-repeat: no-repeat;
  background-size: 100% 100%; 
}
div#loadingBox {
  width: 100%;
  height: 20px;
  position: absolute;
  top: 80%;
  margin-top: -10px;
  text-align: center;
}
div#bgBar {
  position: absolute;
  width: 200px;
  margin-left: -100px;
  left: 50%;
  height: 4px;
  display: block;
  background-color: #333;
}
div#progressBar {
  left: 50%;
  position: absolute;
  margin-left: -100px;
  width: 0px;
  height: 4px;
  background-color: white;
  border-radius: 0px;
}
div#bgBar {
  border-radius: 0px;
}
p#loadingInfo {
  color: #666;
  letter-spacing: 1px;
  position: absolute;
  width: 100%;
  text-transform: uppercase;
  text-align: center;
  font-size: 12px;
  margin-top: 10px;
}

/****************************************
  ==== LAYOUT
****************************************/

html, body { width: 100%; height: 100%; margin: 0; padding: 0;  }
body { }
p.header, p.footer { display: none; }

@font-face{
  font-family: PIXEARG;
  src: url(PIXEARG_.TTF);

}
.wiz-mud { 
  display: inline-block; 
  padding: 20px; 
  box-sizing: border-box;
  font-family: 'Lucida Console', 'Lucida Sans Typewriter', monaco, 'Bitstream Vera Sans Mono', monospace;
  font-size: 20;
  font-smooth: never;
  -webkit-font-smoothing : none;
}
.game-panel { 
  position: relative; 
  display: inline-block; float:left; 
  box-sizing: border-box;
  background-color: black;
  width:60%;
  height: 100%;  
}
.chat-panel { 
  position: relative; 
  font-family: PIXEARG;
  display: inline-block;
  box-sizing: border-box; 
  background-image: url("chatBox.png");
  background-repeat: no-repeat;
  background-size: 100% 100%; 
  padding-top: 28px; 
  padding-bottom:10px; 
  padding-left: 15px; 
  padding-right: 15px;
}
.chat-box { 
  position:relative;
  overflow-y: scroll; 
  overflow-x: hidden; 
  box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  height:90%; width:100% 
  font-size: 1em;
  word-wrap: break-word;
}
.chat-input { 
  height:10%; width:100%; 
  resize:none; 
  background-color:rgba(0,0,0,0); 
  border-style: solid;
  border-width: 4px;
  border-color: #303030;
  overflow: hidden;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; 
  box-sizing: border-box;
  font-family: PIXEARG;
  font-size: 1em;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  color:white; 
}


/* Let's get this party started */
::-webkit-scrollbar {
    width: 15px;
    height:90%;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: rgba(0,0,0,1); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: url('scrollBar.png');
}]

body.template { }
.template .template-wrap { }
.template .template-wrap canvas { }

